.container {
  position: relative;
  width: 100%;
}

.dotNavSelector {
  margin-bottom: 1em;
}

.slideshow {
  overflow: hidden;
  width: 100%;
  height: 80vh;
  max-height: 600px;
}

.notes {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.note {
  position: relative;
  width: 420px;
  max-width: 100%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  margin-right: 8em;
}

.isChanging {
  display: none;
}

.arrow {
  position: absolute;
  pointer-events: none;
  width: 3em;
  height: 8em;
  top: -7.5em;
}

.arrowLeft {
  left: 20%;
}

.arrowRight {
  right: 20%;
}

.note:last-child {
  margin-right: 0;
}

@media (max-width: 940px) {
  .note {
    margin-right: 6em;
  }

  .arrow {
    height: 6em;
    top: -6.5em;
  }
}

@media (max-width: 740px) {
  .note {
    margin-right: 3em;
  }

  .arrow {
    height: 4em;
    top: -4.5em;
  }
}

@media (max-width: 500px) {
  .arrow {
    display: none;
  }

  .slideshow {
    height: 40vh;
    max-height: 600px;
  }

  .notes {
    display: block;
    margin-top: 1em;
  }

  .note {
    margin-right: 0;
    margin-bottom: 0.5em;
    font-size: 1.8em;
  }
}
