.features {
  margin-top: 3em;
  display: grid;
  grid-gap: 4em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  color: #3e4857;
  margin-bottom: 0.5em;
}

.feature p {
  color: #5f6c7f;
}

.illustration {
  align-self: center;
  max-height: 96px;
  margin-bottom: 1.5em;
}

@media (max-width: 500px) {
  .features {
    padding: 0 1em;
  }
}
