.cta-button {
  height: initial;
  padding: 12px 24px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  border-width: 2px;
  transition: all 300ms ease;
}

.cta-button:hover {
  transition: all 200ms ease;
  transform: scale(1.05);
}

.cta-button:active {
  transition: all 100ms ease;
  transform: scale(1.03);
}

.inline {
  padding: 6px 24px;
  font-size: 12px;
}
