.authProviders {
  display: flex;
  flex-direction: column;
}

.authProvider {
  margin-bottom: 1em;
}

.authProvider:last-child {
  margin-bottom: 0;
}

.authProvider h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.icon {
  max-height: 1.4em;
  margin-right: 0.75em;
}
