{
  "openapi": "3.0.2",
  "info": {
    "title": "imagemin",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.functional-income.com/1/call/imagemin_516db71baeb64417"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "optimizeImage",
        "summary": "optimizeImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "description": "Optional API key for authenticated access.",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}
