{
  "parser": "babel-eslint",
  "extends": [
    "plugin:prettier/recommended",
    "standard-react"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0
  }
}
