{
  "parser": "babel-eslint",
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/jsx-indent": 0,
    "react/jsx-curly-newline": 0,
    "react/display-name": 0,
    "react/no-unescaped-entities": 0
  }
}
