.theme-sadie {
  font-family: Manjari, Helvetica, sans-serif;
  font-weight: 300 !important;
  color: #222;
}

.theme-sadie p {
  color: #444;
}

.theme-sadie h1, .theme-sadie h2, .theme-sadie h3, .theme-sadie h4, .theme-sadie h5, .theme-sadie h6 {
  font-family: Manjari, Helvetica, sans-serif;
  font-weight: 300 !important;
  color: #222;
}

.theme-sadie :global(.ant-btn-primary) {
}

.theme-sadie .logo {
  color: #222;
}
