:root {
  /* TODO add postcss to resolve vars for IE11 */
  --color-primary: #5061cb;
  --filter-tint: saturate(102%) hue-rotate(10deg);
  --color-fg: #3a3a3a;
  --max-width: 1108px;
  --max-width-half: 554px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;
  --space-xxxl: 64px;
  --side-gutter-half: var(--space-s);
  --side-gutter: var(--space-m);
  --font-family: 'Avenir Next';

  --line-height-m: 1.375;
  --line-height-l: 1.42;
}

.theme-waves {
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
}

.theme-waves * {
  transition: all 250ms ease;
}

.theme-waves h1,
.theme-waves h2,
.theme-waves h3,
.theme-waves h4,
.theme-waves h5,
.theme-waves h6 {
  color: var(--color-fg);
  font-family: var(--font-family);
  font-weight: 400;
}

p {
  color: var(--color-fg);
}

b,
strong {
  font-weight: 600;
}

/*
 * Section
 * ----------------------------
 */

.section {
  margin-bottom: var(--space-xxl);
  margin-top: var(--space-xxl);
  padding: var(--side-gutter);
}

.section .title {
  font-size: 48px;
  font-weight: 600;
  position: relative;
}

.section .subtitle {
  color: #3a3a3a;
  font-size: 24px;
  opacity: 0.9;
}

.section .content {
  max-width: var(--max-width);
  padding: 0 !important;
  z-index: 1;
}

.section-divider {
  display: none;
}

/*
 * Home page
 * ----------------------------
 */

.home-page .hero-section,
.home-page .demo-section {
  height: 85vh;
  margin-top: 0;
  min-height: 500px;
  padding-top: 96px;
  width: 50%;
  z-index: 1;
}

.home-page .hero-section .content,
.home-page .demo-section .content {
  max-width: var(--max-width-half);
}

/*
 * Home page, Hero section
 * ----------------------------
 */

.home-page .hero-section {
  padding-right: 0;
}

.home-page .hero-section .content {
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
  padding-right: var(--space-xl) !important;
  z-index: 1;
}

.home-page .hero-section .title {
  line-height: var(--line-height-m);
  margin: 0;
  margin-bottom: var(--space-m);
  max-width: 460px;
  font-weight: 400;
  text-align: left;
}

.home-page .hero-section .subtitle {
  line-height: var(--line-height-l);
  margin: 0;
  margin-bottom: var(--space-l);
  max-width: 460px;
  text-align: left;
}

/*
 * Home page, Demo section
 * ----------------------------
 */

.home-page .demo-section {
  background: transparent !important;
  padding-left: 0;
  position: absolute;
  right: 0;
}

.home-page .demo-section .content {
  font-weight: 400;
  justify-content: center;
  margin-right: auto;
  padding-left: var(--side-gutter-half) !important;
}

.home-page .demo-section .title,
.home-page .demo-section .desc {
  display: none;
}

/*
 * Home page, Features section
 * ----------------------------
 */

.home-page .features-section .title,
.home-page .features-section .desc {
  display: none;
}

.features-section .features {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
}

.features-section .feature {
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;
}

.features-section .feature .illustration {
  max-height: 120px !important;
  width: 220px;
}

.features-section .feature h3 {
  font-weight: 600 !important;
}

/*
 * Home page, CTA section
 * ----------------------------
 */

.home-page .section:last-of-type {
  display: none;
}

/*
 * Pricing page
 * ----------------------------
 */

.pricing-page .pricing-section {
  height: 85vh;
  min-height: 500px;
  padding-top: 96px;
  z-index: 1;
}

/*
 * NavHeader
 * ----------------------------
 */
header.container {
  border-bottom: 1px solid #e1e1e1;
  padding: 0;
  padding-bottom: var(--space-l) !important;
  padding-left: var(--side-gutter) !important;
  padding-right: var(--side-gutter) !important;
  padding-top: var(--space-l) !important;
}

header.container .links {
  flex-grow: 1;
}

header.container .link {
  color: var(--color-fg) !important;
  font-size: 18px;
  font-weight: 500;
}

header.container .link:hover {
  color: var(--color-primary) !important;
  filter: var(--filter-tint);
}

header.container .links .link {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

header.container .links .link:first-of-type {
  margin-left: 0;
}

header.container .links .link:nth-of-type(2),
header.container .links .link:nth-of-type(5) {
  display: none;
}

header.container .links .link:nth-of-type(3) {
  order: 2;
  opacity: 0.9;
}

header.container .links .link:nth-of-type(4) {
  margin-left: auto;
  margin-right: var(--space-xl);
  order: 1;
  opacity: 0.9;
}

header.container .actions .link:first-of-type {
  margin-left: var(--space-xl);
}

header.container .actions .link {
  margin-left: var(--space-m);
}

header .content {
  max-width: var(--max-width) !important;
}

header.attached {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  padding-bottom: var(--space-s) !important;
  padding-top: var(--space-s) !important;
}

/*
 * Footer
 * ----------------------------
 */

footer {
  background-color: #f9f9fb !important;
  border-top: 1px solid #efefef;
}

footer .detail,
footer .header {
  color: var(--color-fg) !important;
  opacity: 0.7;
}

footer .link {
  color: var(--color-fg) !important;
  opacity: 0.7;
}

footer .link:hover {
  color: var(--color-primary) !important;
  filter: var(--filter-tint);
  opacity: 1;
}

/*
 * CTAs
 * ----------------------------
 */
.theme-waves a {
  color: var(--color-primary);
}

.theme-waves a:hover {
  filter: var(--filter-tint);
}

/* TODO: cta-button ghost should have dark text */
.cta-button,
.cta-button.inline {
  border: var(--color-primary) solid 1px !important;
  font-size: 16px !important;
  font-weight: 500;
  letter-spacing: normal !important;
  text-transform: none !important;
  text-shadow: none;
  padding-bottom: var(--space-s);
  padding-top: var(--space-s);
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.cta-button:global(.primary) {
  background: var(--color-primary) !important;
  color: white !important;
}

.cta-button:global(.secondary) {
  background: transparent !important;
  color: var(--color-primary) !important;
}

.cta-button:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.11), 0 3px 6px rgba(0, 0, 0, 0.08);
  filter: var(--filter-tint);
}

.cta-button:global(.secondary):hover {
  color: var(--color-primary) !important;
}

/*
 * Code Block
 * ----------------------------
 */
.live-service-demo {
  background-image: linear-gradient(174deg, #6e60e1 0%, #1b3b87 93%);
  border-radius: 8px;
  box-shadow: none !important;
  filter: drop-shadow(0px 3px 6px #392ab195);
  overflow: hidden;
}

.live-service-demo .tabs:before {
  align-self: center;
  color: #ffffff90;
  content: 'Live Demo';
  font-size: 16px;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

.live-service-demo .tabs {
  background: #313b5250;
  color: #ffffff80;
  font-size: 14px;
  padding-bottom: var(--space-m);
  padding-top: var(--space-m);
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

.live-service-demo .tabs .tab:first-of-type {
  margin-left: auto;
}

.live-service-demo .tabs .tab:hover {
  background: transparent;
  color: #ffffff;
}

.live-service-demo .tabs .selected-tab {
  background: transparent;
  color: #ffffff;
  font-weight: 600;
}

.code-block {
  background: transparent !important;
  color: white !important;
  height: auto !important;
  font-size: 14px;
  padding: var(--space-m) !important;
  padding-left: var(--space-l) !important;
  padding-right: var(--space-l) !important;
}

/*
 * BG
 * ----------------------------
 */

.section:first-of-type::before {
  background-image: linear-gradient(104deg, #fcfcfc 13%, #f5f7fb 91%);
  content: '';
  position: absolute;
  height: calc(100% + 100px);
  min-height: 500px;
  left: 0;
  top: 0;
  width: 100vw;
}

.section:first-of-type::after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='1440px' height='274px' viewBox='0 0 1440 274' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EArtboard%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M1440,94.937049 L1440,274 L0,274 L0,68 C163.333342,95.1394992 375.993354,127.635219 637.980036,165.48716 C899.966717,203.339101 1167.30671,179.822397 1440,94.937049 Z' id='path-1'%3E%3C/path%3E%3Cfilter x='-5.7%25' y='-51.7%25' width='111.5%25' height='180.1%25' filterUnits='objectBoundingBox' id='filter-2'%3E%3CfeOffset dx='0' dy='-24' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='23.5' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0.889011549 0 0 0 0 0.889011549 0 0 0 0 0.889011549 0 0 0 0.5 0' type='matrix' in='shadowBlurOuter1'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Combined-Shape'%3E%3Cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3E%3C/use%3E%3Cuse fill='%23FFFFFF' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  bottom: -100px;
  content: '';
  height: 184px !important;
  left: 0;
  position: absolute;
  width: 100vw;
}

/*
 * Pricing plans
 * ----------------------------
 */

.pricing-section {
  margin-top: 0;
}

.pricing-section::before {
  height: calc(50% + 250px) !important;
}

.pricing-section::after {
  top: calc(50% + 100px);
}

.pricing-section .title {
  font-size: 40px;
  line-height: var(--line-height-m);
  margin-top: var(--space-xxxl);
  margin-bottom: var(--space-s);
}

.pricing-section .subtitle {
  font-size: 28px;
  line-height: var(--line-height-m);
  margin-bottom: var(--space-xxxl);
}

.pricing-section .plans {
  justify-content: space-around;
  margin: 0;
  margin-top: var(--space-s);
}

.pricing-section .plan {
  border-radius: 10px;
  box-shadow: 0 7px 18px 0 rgba(210, 210, 210, 0.5);
  margin: var(--space-l);
  margin-top: 0;
  max-width: 450px;
  padding: var(--space-xl);
  width: 100%;
}

.pricing-section .plan h3 {
  font-size: 32px;
  letter-spacing: initial;
  line-height: var(--line-height-m);
  font-weight: 600 !important;
  margin-bottom: var(--space-l);
  text-shadow: none;
}

.pricing-section .plan > :global(.ant-divider) {
  display: none;
}

.pricing-section .plan .features {
  font-size: 22px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: var(--space-l);
}

.pricing-section .plan .features div:nth-of-type(1),
.pricing-section .plan .features div:nth-of-type(2),
.pricing-section .plan .features div:nth-of-type(3),
.pricing-section .plan:first-of-type .features div:nth-of-type(3n + 2),
.pricing-section .plan:last-of-type .features div:nth-of-type(3n + 3) {
  display: none;
}

/* Label */
.pricing-section .plan .features div:nth-of-type(3n + 1) {
  color: #696969;
  font-weight: 600;
}

/* Value */
.pricing-section .plan:first-of-type .features div:nth-of-type(3n + 3),
.pricing-section .plan:last-of-type .features div:nth-of-type(3n + 2) {
  color: black;
  font-weight: 600;
  opacity: 0.4;
  text-align: right;
}

.pricing-section .plan .cta-button {
  width: 100%;
}

.pricing-section .plan:first-of-type .cta-button {
  content: 'test';
}

.pricing-section .plan > div:nth-last-of-type(2) {
  display: none;
}

.pricing-section .plan .price {
  align-items: baseline;
  color: #9e9e9e;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: var(--space-m);
}

.pricing-section .plan .price .dollas {
  color: var(--color-fg);
  font-size: 32px;
  font-weight: 600;
  margin-right: var(--space-s);
}
