.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 180px 16px 80px;
  flex: 1;
  width: 100%;

  text-align: center;
  background: #23303a;
}

.content h1 {
  margin: 0 0 64px;

  font-weight: 700;
  font-size: 44px;
  line-height: 64px;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subtitle {
  margin: 0 auto 64px;
  max-width: 500px;

  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  color: #d2d2d6;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta {
  margin: 48px 0;
}

@media only screen and (min-width: 768px) {
  .content h1 {
    /* TODO */
  }

  .subtitle {
    /* TODO */
  }
}
