.container {
  position: relative;
  height: 100%;
}

.track {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
}

.scene {
  position: relative;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.scene:not(.activeScene) {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(0.7);
}

.scene:not(.activeScene):hover {
  transition: transform 300ms ease-out, opacity 0s ease-out;
  opacity: 1;
}

.activeScene {
  border-radius: 8px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}

.image {
  border-radius: 8px;
}

.overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 13%,
    rgba(255, 255, 255, 0) 87%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (max-width: 500px) {
  .overlay {
    display: none;
  }
}
