.sidebar > h1 {
  margin: 0 2em;
}

.sidebar .app-name-link img {
  max-width: 50%;
  margin: 1em 0;
}

.subtitle {
  margin: 2rem 0 3rem !important;
}

.img-404 {
  width: 80%;
  min-width: 320px;
  margin: 4em 0;
}

.footer-edit {
  margin: 3em 0 !important;
}

.docsify-pagination-container {
  margin-top: 3em !important;
}

.docsify-copy-code-button {
  font-size: 0.9em !important;
  border-radius: 2px !important;
}

.typeform-widget {
  height: 640px;
  border: 0 solid #e2e8f0;
  border-radius: .5rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);

  background: #cdc5d0;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
}

.markdown-section iframe {
  margin: 0;
}