.sidebar > h1 {
  margin: 0 2em;
}

.sidebar .app-name-link img {
  max-width: 50%;
  margin: 1em 0;
}

.subtitle {
  margin: 2rem 0 3rem !important;
}

.img-404 {
  width: 80%;
  min-width: 320px;
  margin: 4em 0;
}

.footer-edit {
  margin: 3em 0 !important;
}

.docsify-pagination-container {
  margin-top: 3em !important;
}
