.privacy-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.privacy-page-body {
  width: 80%;
  min-width: 250px;
  max-width: 940px;
  margin: 0 auto;
}

.privacy-page-body p {
  color: #222;
}

.privacy-page-body h1 {
  font-size: 2.4em;
  margin-bottom: 0.25em;
}

.privacy-page-body h2 {
  font-size: 2em;
  margin-bottom: 1.3em;
}

.privacy-page-body h3 {
  font-size: 1.6em;
  margin-bottom: 1.1em;
}

.privacy-page-body h4 {
  font-size: 1.2em;
}

.privacy-page-body p,
.privacy-page-body h4,
.privacy-page-body ul {
  margin-bottom: 0.8em;
}

.privacy-page-body .last-modified {
  margin-bottom: 1.6em;
}

.privacy-page-body ul {
  margin-left: 32px;
}
