.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

.loading .title {
  font-size: 1.4em;
  margin-bottom: 1.5em;
  color: #fff !important;
}

.loading .loading-icon {
  color: #fff;
  font-size: 4em;
}
