.body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 720px;
  width: 100%;
}

.body :global(.ant-steps-item-title) {
  color: #fff !important;
}

.body :global(.ant-steps-item-description) {
  color: #d2d2d6 !important;
}

.tokenButton {
  display: inline-block;
  margin: 1em 1em 0 0;
}
