.body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 720px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0 0 2em;
}

.header h4 {
  margin: 0 0.75em 0;
}

.avatar {
  margin-right: 0.75em;
}

.body :global(.ant-steps-item-title) {
  color: #fff !important;
}

.body :global(.ant-steps-item-description) {
  color: #d2d2d6 !important;
}
