.service-form__input-wrapper {
  margin-bottom: 8px;
}

.service-form__input-wrapper:last-of-type {
  margin-bottom: 0px;
}

.service-form__input-label {
  color: #4a4a4a;
  font-size: 16px;
  margin-bottom: 4px;
}

.service-form__input-name {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-weight: bold;
}
