/* PostCSS reset */
@import-normalize;

* {
  box-sizing: border-box;
}

body,
html {
  color: #3e4857;
  font-family: proxima-nova, Helvetica, sans-serif;
}

body {
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: initial;
  font-style: normal;
  font-weight: 200;
  font-family: proxima-nova, Helvetica Neue, sans-serif;
  color: #3e4857;
  margin: initial;
}

h1 {
  font-weight: 500;
}

p {
  color: #5f6c7f;
  font-size: 16px;
}

:global(.ant-form-item:last-child) {
  margin-bottom: 0;
}
