.plan {
  text-align: center;
}

.plan .name {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.85) !important;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.infinity {
  height: 1.5em;
}

.secondaryCTAButton {
  color: #000 !important;
}

.secondaryCTAButton:hover,
.secondaryCTAButton:active,
.secondaryCTAButton:focus {
  color: #fff !important;
}

.price {
  margin: 0.5em 0 1.2em;
}

.dollas {
  font-size: 2.2em;
  font-weight: 700;
  vertical-align: middle;
}

.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  text-align: left;
}

.emphasis {
  font-weight: 700;
}

.features {
  text-align: left;
  font-size: 0.85em;
  padding-inline-start: 0.5em;
}

.feature {
  margin-bottom: 0.5em;
}

.feature:last-child {
  margin-bottom: 0;
}
