.how-it-works-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.illustration {
  margin-top: 8em;
  min-width: 128px;
  max-width: 420px;
}

.body {
  margin: 1em auto 2em;
  max-width: 720px;
}
