.signup-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  z-index: 100;

  width: 420px;
  min-width: 300px;
  max-width: 100%;
}
