# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe
# ------------------------------------------------------------------------------

#REACT_APP_GA_TRACKING_ID=

SKIP_PREFLIGHT_CHECK=

REACT_APP_STRIPE_PUBLIC_KEY_TEST=
REACT_APP_STRIPE_PUBLIC_KEY_LIVE=

REACT_APP_PROVIDER_GITHUB_CLIENT_ID_DEV
REACT_APP_PROVIDER_GITHUB_CLIENT_ID_PRD

REACT_APP_GA=