{
  "openapi": "3.0.2",
  "info": {
    "title": "hello-world",
    "version": "v1.0.0",
    "x-logo": {
      "url": "https://apis.guru/branding/logo_vertical.svg",
      "altText": "API Logo"
    },
    "termsOfService": "/terms",
    "contact": {
      "name": "API Support",
      "email": "support@saasify.sh"
    },
    "license": {
      "name": "Apache 2.0",
      "email": "https://apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "
# Introduction

This API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API has predictable resource-oriented URLs, accepts [JSON-encoded](http://www.json.org/) request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.'

The API differs for every account as we release new versions and tailor functionality. If you are authenticated, these docs are customized to your version of the API and display your auth token and test data, which only you can see.

# Content Type

All requests must be encoded as JSON with the `Content-Type: application/json` header. If not otherwise specified, responses from the API, including errors, are encoded exclusively as JSON as well.

# Rate Limits

With the public, non-authenticated version of the API, we limit the number of calls you can make over a certain period of time. Rate limits vary and are specified by the following header in all responses:

| Header | Description |
| --- | --- ]
| `X-RateLimit-Limit` | The maximum number of requests that the consumer is permitted to make. |
| `X-RateLimit-Remaining` | The number of requests remaining in the current rate limit window. |
| `X-RateLimit-Reset` | The time at which the current rate limit window resets in UTC epoch seconds. |

When the rate limit is **exceeded**, an error is returned with the status \"**429 Too Many Requests**\":

```json
{
  \"error\": {
    \"code\": \"too_many_requests\",
    \"message\": \"Rate limit exceeded\"
  }
}
```

# Errors

This API uses conventional HTTP response codes to indicate the success or failure of an API request. In general: Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error that failed given the information provided (e.g., a required parameter was omitted, endpoint not found, etc.). Codes in the `5xx` range indicate an error with our API (these are rare).

# Versioning

TODO
"
  },
  "servers": [
    {
      "url": "https://api.saasify.sh"
    }
  ],
  "tags": [
    {
      "name": "service",
      "x-displayName": "Services"
    }
  ],
  "paths": {
    "/1/call/hello-world_360e148006098c95": {
      "post": {
        "tags": [ "service" ],
        "operationId": "helloWorld",
        "security": [
          {
            "API Key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "default": "World"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "API Key": {
        "type": "apiKey",
        "description": "Optional API key for authenticated access.


Unauthenticated (public) requests are subject to rate limiting. See [pricing](/pricing) for more details on unauthenticated rate limits.

You can view and manage your API key in [Dashboard](/dashboard).

Be sure to keep your API key secure! Do not share them in publicly accessible areas such as GitHub, client-side code, and so forth.

All API requests must be made over HTTPS. Calls made over plain HTTP will fail.
",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}
